<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orleansy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/orleans.css" th:href="@{/css/orleans.css}" />
</head>

<body>


<h1>Players</h1>

<table>
    <tr>
        <th>NAME</th>
        <th>COINS</th>
    </tr>
    <tr th:each="player : ${gameState.players}">
        <td th:text="${player.playerId}">playerId</td>
        <td th:text="${player.coinCount}">2</td>
    </tr>
</table>



</body>

</html>